// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
.roboto-condensed-400 {
  font-family: 'Roboto Condensed', system-ui, -apple-system, 'Segoe UI', sans-serif;
  font-weight: bold;
}

.nav-link.active{
  color: $primary !important;
  border-bottom: solid $primary;
}

.links{
  background-image: url("../img/footer-bg.jpg");
  
}